.Home {
  width: 100%;
  padding: 1rem;

  &-title {
    padding: 1rem;
    font-size: 2em;
  }

  &-item {
    margin: 1rem 0 0 0;
  }

  &-date {
    padding: 0 0 0 1rem;
  }

  &-description {
    padding: 0 0 0 2rem;
  }
}
