.Logo {
  display: none;
  @include responsive(desktop) {
    display: block;
  }

  &-logo {
    max-width: 4.5rem;
    padding: 0.5rem 0 0 0;
  }

  &-title {
    color: $Logo-veryDark-Brown;
    text-align: center;
  }
}
