body {
  background-color: #1e1711;
}

.Navbar {
  width: 100%;
  background-color: $Navbar-bg;
  position: fixed;
  bottom: 0;
  @include flex();
  margin: auto;
  padding: 0.5em 0 0 0;

  @include responsive(desktop) {
    position: inherit;
    @include padding;
    margin: 0 0 2rem 0;
  }

  &-list {
    background-color: $Navbar-bg;
    width: 100%;

    @include flex($justify: space-around, $wrap: nowrap);
    height: 100%;

    @include responsive(desktop) {
      width: calc(100% - 4.5rem);
      justify-content: space-between;
      padding: 0 4rem;
    }
  }

  &-item {
    width: 3rem;
    height: 3rem;
    text-align: center;
    transition: transform 0.5s ease-in-out;

    &--isActive {
      transform: translateY(-2rem);
      position: relative;
      pointer-events: none;

      @include responsive(desktop) {
        transform: translateY(-1rem);
      }

      &::before {
        content: "";
        position: absolute;
        width: 110%;
        height: 110%;
        background-color: $Logo-yellow;
        z-index: -1;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 0.3rem solid $Logo-veryDark-Brown;
      }
    }

    @include responsive(desktop) {
      &:hover {
        transform: translateY(-0.3rem);
      }
    }
  }

  &-icon {
    color: $Logo-veryDark-Brown;
    margin: 0 0 1rem 0;

    @include responsive(desktop) {
      margin: 0 0 0.5rem 0;
    }
  }

  &-text {
    color: $Logo-veryDark-Brown;
    text-align: center;
    font-weight: 700;
  }
}
