@mixin flex($direction: row, $justify: flex-start, $align: flex-start){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin margin($top: 1em, $right: 1em, $bottom: 1em, $left: 1em){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin padding($top: 1em, $right: 1em, $bottom: 1em, $left: 1em){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin neomorphism($color: #e0e0e0, $shadow: #bebebe, $inset: #ffffff){
    border-radius: 1.75em;
    background: #e0e0e0;
    box-shadow: inset 1.5em 1.5em 3em #bebebe,
                inset -1.5em -1.5em 3em #ffffff;
}